.u42 {
    position:absolute;
    left:223px;
    top:48px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../../img/cart_step_1/u43_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:4px;
    width:940px;
    height:3px;
}

.u43 {
    position:absolute;
    left:9px;
    top:69px;
    width:940px;
    height:10px;
    
}

.u44_normal {
    background-image: url('../../img/cart_step_1/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:266px;
    top:69px;
    width:10px;
    height:10px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../../img/cart_step_1/u44_normal.png');
}

.u46_container {
    position:absolute;
    left:390px;
    top:69px;
    width:10px;
    height:10px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u47 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../../img/cart_step_1/u44_normal.png');
}

.u48_container {
    position:absolute;
    left:524px;
    top:69px;
    width:10px;
    height:10px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../../img/cart_step_1/u44_normal.png');
}

.u50_container {
    position:absolute;
    left:691px;
    top:69px;
    width:10px;
    height:10px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:373px;
    top:48px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:463px;
    top:48px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:624px;
    top:48px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}