tmp/*
[Cc]onfig/core.php
[Cc]onfig/database.php
app/tmp/*
app/[Cc]onfig/core.php
app/[Cc]onfig/database.php
!empty

*.kpf
.idea
pmip
*.tmproj
.DS_Store
*.DS_Store
*.sublime-project
*.sublime-workspace
tags
.dropbox

src/plugins
src/vendors

## Code coverage reports and other CI related output files from build
build/logs/*
build/coverage/*
build/code-browser/*
build/api/*
build/phploc-reports/*
build/doc.html

## Ignore all AssetCompress cache_js
src/labelecommapp/webroot/cache_js/*.js

## Config files
src/labelecommapp/Config/database.php
src/labelecommapp/Config/core.php
src/labelecommapp/Config/email.php

## images files in uploads
!src/labelecommapp/webroot/files/product_image/empty
src/labelecommapp/webroot/files/product_image/*

## Temporary files
src/labelecommapp/tmp/cache/models/myapp_cake_*
src/labelecommapp/tmp/cache/persistent/myapp_cake_*
src/labelecommapp/tmp/cache/views/myapp_cake_*
src/labelecommapp/tmp/logs/*.log
src/labelecommapp/tmp/sessions/myapp_cake_*
src/labelecommapp/tmp/tests/myapp_cake_*
src/labelecommapp/tmp/asset_compress_*

src/lib/Cake/Console/Templates/skel/tmp/cache/models/myapp_cake_*
src/lib/Cake/Console/Templates/skel/tmp/cache/persistent/myapp_cake_*
src/lib/Cake/Console/Templates/skel/tmp/cache/views/myapp_cake_*
src/lib/Cake/Console/Templates/skel/tmp/logs/*.log
src/lib/Cake/Console/Templates/skel/tmp/sessions/myapp_cake_*
src/lib/Cake/Console/Templates/skel/tmp/tests/myapp_cake_*

## ignore libraries related files
src/labelecommapp/Vendor/autoload.php
src/labelecommapp/Vendor/composer
src/labelecommapp/Vendor/titon
src/labelecommapp/Vendor/mjohnson
src/labelecommapp/Vendor/guzzle
src/labelecommapp/Vendor/omnipay
src/labelecommapp/Vendor/symfony
src/labelecommapp/Vendor/psr
src/labelecommapp/Vendor/pimple
src/labelecommapp/Vendor/silex
src/labelecommapp/Vendor/twig

## ignore Plugin
src/labelecommapp/Plugin/AclExtras
src/labelecommapp/Plugin/AssetCompress
src/labelecommapp/Plugin/ClearCache
src/labelecommapp/Plugin/Migrations
src/labelecommapp/Plugin/PermissionsExtras
src/labelecommapp/Plugin/Queryable
src/labelecommapp/Plugin/Search
src/labelecommapp/Plugin/Upload
src/labelecommapp/Plugin/UtilityBehaviors
src/labelecommapp/Plugin/UtilityLib


## ignore composer.lock as well
src/labelecommapp/composer.lock

## ignore log files for codeception tests
!tests/_log/empty
tests/_log/*