body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -9px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../../img/cart_step_4/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:698px;
    width:940px;
    height:67px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:73px;
}

.u1 {
    position:absolute;
    left:2px;
    top:26px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../../img/cart_step_4/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:9px;
    top:278px;
    width:940px;
    height:369px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:375px;
}

.u3 {
    position:absolute;
    left:2px;
    top:176px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../../img/cart_step_4/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:25px;
    top:330px;
    width:102px;
    height:102px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:108px;
}

.u5 {
    position:absolute;
    left:2px;
    top:43px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../../img/cart_step_4/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:25px;
    top:331px;
    width:100px;
    height:100px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u7 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../../img/cart_step_4/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:31px;
    top:336px;
    width:90px;
    height:90px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:96px;
}

.u9 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../../img/cart_step_4/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:9px;
    top:278px;
    width:940px;
    height:32px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:38px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:26px;
    top:289px;
    width:98px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:436px;
    top:289px;
    width:98px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:152px;
    top:333px;
    width:160px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:152px;
    top:363px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:152px;
    top:387px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:152px;
    top:411px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:455px;
    top:336px;
    width:62px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:616px;
    top:289px;
    width:98px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:641px;
    top:332px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:637px;
    top:367px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:639px;
    top:387px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:796px;
    top:289px;
    width:98px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:820px;
    top:336px;
    width:57px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../../img/cart_step_4/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:9px;
    top:459px;
    width:940px;
    height:114px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:120px;
}

.u26 {
    position:absolute;
    left:2px;
    top:49px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:679px;
    top:478px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:825px;
    top:478px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:679px;
    top:508px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:825px;
    top:508px;
    width:52px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:679px;
    top:538px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:825px;
    top:538px;
    width:52px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../../img/cart_step_4/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:9px;
    top:573px;
    width:940px;
    height:74px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:80px;
}

.u34 {
    position:absolute;
    left:2px;
    top:29px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:629px;
    top:599px;
    width:160px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:825px;
    top:598px;
    width:95px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../../img/cart_step_4/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:9px;
    top:127px;
    width:940px;
    height:151px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:157px;
}

.u38 {
    position:absolute;
    left:2px;
    top:68px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:26px;
    top:145px;
    width:478px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:26px;
    top:195px;
    width:478px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:26px;
    top:225px;
    width:478px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:223px;
    top:48px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../../img/cart_step_4/u43_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:4px;
    width:940px;
    height:3px;
}

.u43 {
    position:absolute;
    left:9px;
    top:69px;
    width:940px;
    height:10px;
    
}

.u44_normal {
    background-image: url('../../img/cart_step_4/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:266px;
    top:69px;
    width:10px;
    height:10px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../../img/cart_step_4/u44_normal.png');
}

.u46_container {
    position:absolute;
    left:390px;
    top:69px;
    width:10px;
    height:10px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u47 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../../img/cart_step_4/u44_normal.png');
}

.u48_container {
    position:absolute;
    left:524px;
    top:69px;
    width:10px;
    height:10px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../../img/cart_step_4/u44_normal.png');
}

.u50_container {
    position:absolute;
    left:691px;
    top:69px;
    width:10px;
    height:10px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:373px;
    top:48px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:463px;
    top:48px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:624px;
    top:48px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:30px;
    top:724px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../../img/cart_step_4/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:788px;
    top:718px;
    width:139px;
    height:28px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:34px;
}

.u57 {
    position:absolute;
    left:2px;
    top:6px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:788px;
    top:724px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_line {
    background-image: url('../../img/cart_step_4/u59_line.png');
}

.u59_line {
    position:absolute;
    left:0px;
    top:4px;
    width:126px;
    height:3px;
}

.u59 {
    position:absolute;
    left:796px;
    top:714px;
    width:126px;
    height:10px;
    
}

