* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u2_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u2_normal.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u2_normal.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u2_normal.png");
}

* html .u10c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u10c0.png");
}

* html .u10c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u10c1.png");
}

* html .u10c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u10c2.png");
}

* html .u12c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u12c0.png");
}

* html .u12c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u12c1.png");
}

* html .u14c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u14c0.png");
}

* html .u14c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u14c1.png");
}

* html .u14c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u14c2.png");
}

* html .u16c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u16c0.png");
}

* html .u16c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Use_Cases_files/u16c1.png");
}

