body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -9px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../../img/cart_step_1/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:124px;
    width:940px;
    height:52px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:370px;
}

.u1 {
    position:absolute;
    left:2px;
    top:176px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../../img/cart_step_1/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:9px;
    top:518px;
    width:131px;
    height:28px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:34px;
}

.u3 {
    position:absolute;
    left:2px;
    top:6px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:9px;
    top:524px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../../img/cart_step_1/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:25px;
    top:176px;
    width:102px;
    height:102px;
}

.u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:108px;
}

.u6 {
    position:absolute;
    left:2px;
    top:43px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../../img/cart_step_1/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:25px;
    top:177px;
    width:100px;
    height:100px;
}

.u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u8 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../../img/cart_step_1/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:31px;
    top:182px;
    width:90px;
    height:90px;
}

.u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:96px;
}

.u10 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../../img/cart_step_1/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:9px;
    top:124px;
    width:940px;
    height:32px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:38px;
}

.u12 {
    position:absolute;
    left:2px;
    top:8px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:26px;
    top:135px;
    width:98px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:436px;
    top:135px;
    width:98px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:152px;
    top:179px;
    width:200px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:152px;
    top:209px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:152px;
    top:233px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:152px;
    top:257px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:455px;
    top:182px;
    width:62px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:616px;
    top:135px;
    width:98px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:641px;
    top:178px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:637px;
    top:213px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:639px;
    top:233px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:796px;
    top:135px;
    width:98px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:820px;
    top:182px;
    width:57px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../../img/cart_step_1/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:9px;
    top:305px;
    width:940px;
    height:114px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:120px;
}

.u27 {
    position:absolute;
    left:2px;
    top:49px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:679px;
    top:324px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:825px;
    top:324px;
    width:69px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:679px;
    top:354px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:825px;
    top:354px;
    width:52px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:679px;
    top:384px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:825px;
    top:384px;
    width:52px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../../img/cart_step_1/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:9px;
    top:419px;
    width:940px;
    height:74px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:80px;
}

.u35 {
    position:absolute;
    left:2px;
    top:29px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:629px;
    top:445px;
    width:160px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:825px;
    top:444px;
    width:95px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../../img/cart_step_1/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:773px;
    top:518px;
    width:176px;
    height:28px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:34px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:172px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:773px;
    top:524px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_line {
    background-image: url('../../img/cart_step_1/u41_line.png');
}

.u41_line {
    position:absolute;
    left:0px;
    top:4px;
    width:159px;
    height:3px;
}

.u41 {
    position:absolute;
    left:780px;
    top:514px;
    width:159px;
    height:10px;
    
}

.u42 {
    position:absolute;
    left:223px;
    top:48px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../../img/cart_step_1/u43_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:4px;
    width:940px;
    height:3px;
}

.u43 {
    position:absolute;
    left:9px;
    top:69px;
    width:940px;
    height:10px;
    
}

.u44_normal {
    background-image: url('../../img/cart_step_1/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:266px;
    top:69px;
    width:10px;
    height:10px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../../img/cart_step_1/u44_normal.png');
}

.u46_container {
    position:absolute;
    left:390px;
    top:69px;
    width:10px;
    height:10px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u47 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../../img/cart_step_1/u44_normal.png');
}

.u48_container {
    position:absolute;
    left:524px;
    top:69px;
    width:10px;
    height:10px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../../img/cart_step_1/u44_normal.png');
}

.u50_container {
    position:absolute;
    left:691px;
    top:69px;
    width:10px;
    height:10px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:373px;
    top:48px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:463px;
    top:48px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:624px;
    top:48px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_line {
    background-image: url('../../img/cart_step_1/u56_line.png');
}

.u56_line {
    position:absolute;
    left:0px;
    top:4px;
    width:940px;
    height:3px;
}

.u56 {
    position:absolute;
    left:9px;
    top:300px;
    width:940px;
    height:10px;
    
}

.u57_line {
    background-image: url('../../img/cart_step_1/u57_line.png');
}

.u57_line {
    position:absolute;
    left:0px;
    top:4px;
    width:940px;
    height:3px;
}

.u57 {
    position:absolute;
    left:9px;
    top:151px;
    width:940px;
    height:10px;
    
}