body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -4px;
    width: 945px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../../img/cart_step_2/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:484px;
    top:156px;
    width:13px;
    height:13px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:19px;
}

.u1 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../../img/cart_step_2/u0_normal.png');
}

.u2_container {
    position:absolute;
    left:4px;
    top:160px;
    width:13px;
    height:13px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:19px;
}

.u3 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../../img/cart_step_2/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:9px;
    top:114px;
    width:460px;
    height:310px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:316px;
}

.u5 {
    position:absolute;
    left:2px;
    top:147px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../../img/cart_step_2/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:489px;
    top:114px;
    width:460px;
    height:310px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:316px;
}

.u7 {
    position:absolute;
    left:2px;
    top:147px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../../img/cart_step_2/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:4px;
    top:129px;
    width:207px;
    height:36px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:213px;
    height:42px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:16px;
    top:137px;
    width:191px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../../img/cart_step_2/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:33px;
    top:219px;
    width:380px;
    height:30px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:386px;
    height:36px;
}

.u12 {
    position:absolute;
    left:2px;
    top:7px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#login_username {
    position:absolute;
    left:36px;
    top:221px;
    width:374px;
    overflow:hidden;
}

#pd1u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:374px;
    height:27px;
    
}

.u14 {
    position:absolute;
    left:0px;
    top:1px;
    width:270px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:374px;
    height:27px;
    
}

.form_labels{
    text-align:left;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #333333;
}

.text_fields {
    text-align: left;
    font-family:'Arial';
    font-size: 13px;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
    border-width:1px;
    border-color:#F0F0F0;
    border-radius:5px;
    height:30px;
    padding-left:10px;
}

.submitForRegister{
    cursor: pointer;
}

.u16 {
    position:absolute;
    left:36px;
    top:195px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../../img/cart_step_2/u11_normal.png');
}

.u17_container {
    position:absolute;
    left:33px;
    top:299px;
    width:380px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:386px;
    height:36px;
}

.u18 {
    position:absolute;
    left:2px;
    top:7px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#login_password {
    position:absolute;
    left:36px;
    top:301px;
    width:374px;
    
    overflow:hidden;
}

#pd1u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:374px;
    height:27px;
    
}

.u20 {
    position:absolute;
    left:0px;
    top:1px;
    width:270px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:374px;
    height:27px;
    
}


.u22 {
    position:absolute;
    left:36px;
    top:275px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../../img/cart_step_2/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:33px;
    top:386px;
    width:73px;
    height:28px;
    cursor: pointer;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:34px;
}

.u24 {
    position:absolute;
    left:2px;
    top:6px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:33px;
    top:393px;
    width:73px;
    height:16px;
    cursor: pointer;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}


.u26 {
    position:absolute;
    left:36px;
    top:352px;
    width:66px;
    height:10px;
    cursor: pointer;
    
}

.u27 {
    position:absolute;
    left:128px;
    top:396px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../../img/cart_step_2/u8_normal.png');
}

.u28_container {
    position:absolute;
    left:484px;
    top:125px;
    width:207px;
    height:36px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:213px;
    height:42px;
}

.u29 {
    position:absolute;
    left:2px;
    top:10px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:495px;
    top:133px;
    width:191px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

/*create account form*/

#create_textbox {
    background-image: url('../../img/cart_step_2/u11_normal.png');
}

.u110_container {
    position:absolute;
    left:509px;
    top:219px;
    width:380px;
    height:30px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:386px;
    height:36px;
}

.u120 {
    position:absolute;
    left:2px;
    top:7px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u130 {
    position:absolute;
    left:509px;
    top:221px;
    width:374px;
    height:27px;
    overflow:hidden;
}

.u140 {
    position:absolute;
    left:0px;
    top:1px;
    width:270px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

#pd1u130 {
    position:absolute;
    left:0px;
    top:0px;
    width:374px;
    height:27px;
    
}

.u31_normal {
    background-image: url('../../img/cart_step_2/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:513px;
    top:386px;
    width:174px;
    height:28px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:34px;
}

.u32 {
    position:absolute;
    left:2px;
    top:6px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:513px;
    top:393px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_line {
    background-image: url('../../img/cart_step_2/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:157px;
    height:3px;
}

.u34 {
    position:absolute;
    left:642px;
    top:195px;
    width:157px;
    height:10px;
    
}



.u38 {
    position:absolute;
    left:223px;
    top:48px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_line {
    background-image: url('../../img/cart_step_2/u39_line.png');
}

.u39_line {
    position:absolute;
    left:0px;
    top:4px;
    width:940px;
    height:3px;
}

.u39 {
    position:absolute;
    left:9px;
    top:69px;
    width:940px;
    height:10px;
    
}

.u40_normal {
    background-image: url('../../img/cart_step_2/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:266px;
    top:69px;
    width:10px;
    height:10px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../../img/cart_step_2/u40_normal.png');
}

.u42_container {
    position:absolute;
    left:390px;
    top:69px;
    width:10px;
    height:10px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../../img/cart_step_2/u40_normal.png');
}

.u44_container {
    position:absolute;
    left:524px;
    top:69px;
    width:10px;
    height:10px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../../img/cart_step_2/u40_normal.png');
}

.u46_container {
    position:absolute;
    left:691px;
    top:69px;
    width:10px;
    height:10px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u47 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:373px;
    top:48px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:463px;
    top:48px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:624px;
    top:48px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

